@import '../global';

.navbar {
    height: 70px;
    margin: 0 40px;
    @include flex(row, center, space-between);
}
.nav-right {
    @include flex(row, center, space-between);
    .logo {
        margin-right: 60px;
        .l-logo {

        }
    }
    .links {
        .link {
            margin: 0 10px;
            text-decoration: none;
            color: gray;
        }
    }
}

.nav-left {
    @include flex(row, center, space-evenly);
    .icon {
        margin-right: 30px;
        font-size: 30px;
    }
    .avatar {
        width: 40px;

    }
}

//900px