@import '../global';

.section {
    @include flex(row, center, center);
    height: calc(100vh - 70px);
    margin: 0 40px;

    .right {
        flex: 0.5;
        margin-right: 80px;
        @include flex(column, center, center);
        flex-wrap: wrap;
        align-content: flex-end;
        .a-div {
             @include flex(column, center, space-between);
             width: 500px;
             height: 500px;
            .big-div {
                flex: 0.8;
                @include flex(column, center, center);
               .big-image {
                   position: absolute;
                   border-radius: 20px;
                   width: 400px;
                   height: 400px;
               }
           }
           .small-div {
               flex: 0.2;
               @include flex(row, center, center);
               margin-top: 20px;
               .small-image {
                   width: 80px;
                   height: 80px;
                   border-radius: 10px;
                   margin-right: 25px;
                   object-fit: cover;

                   &:nth-child(4) {
                    margin-right: 0;
                  }
               }
           }   
        }   
       
    }
    .left {
        flex: 0.5;
        @include flex(column, center, center);
        flex-wrap: wrap;
        align-content: flex-start;
        .inside-left {
            width: 500px;
            height: 500px;
            h4 {
                margin-bottom: 10px;
                letter-spacing: 3px;
                color: $orange;
            }
            h1 {
                margin-bottom: 40px;
                font-size: 50px;
                letter-spacing: 2px;
                color: $black;
            }
            .text {
              color: $darkGrayishBlue;
              font-size: 16px;
              padding-right: 20px;
              margin-bottom: 40px;
            }

            .price-div {
                margin-bottom: 10px;
                .price {
                    font-size: 35px;
                    color: $black;
                    font-weight: 700;
                    margin-right: 30px;
                }
                .per {
                    color: $orange;
                    background-color: $paleOrange;
                    font-weight: 700;
                    padding: 7px;
                    text-align: center;
                }
            }
            .old-price-div {
                margin-bottom: 40px;
                .old-price {
                    font-size: 20px;
                    font-weight: 700;
                    color: $grayishBlue;
                    text-decoration: line-through;

                }
            }
            .items {
                @include flex(row, center, flex-start);
               .plus-minus {
                   @include flex(row, center, flex-start);
                   margin-right: 0;
                   margin-left: 0;
                   padding: 10px;
                   height: 40px;
                   background-color: $lightGrayishBlue;
                   .minus {
                       width: 10px;
                   }
                   .count {
                       font-weight: 700;
                       margin-left: 50px;
                       margin-right: 50px;
                   }
                   .plus {
                        width: 10px;
                   }  
               }
               .button {
                  width: 270px;
                  height: 50px;
                  border-radius: 8px;
                  font-size: 16px;
                  font-weight: 700;
                  background-color: $orange;
                  color: $white;
                  border: none;
                  .cart-icon {
                    width: 15px;
                    margin-right: 15px;
                  }
                }
            }
        }
    }  
}